<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <h1>Hello {{ user.first_name }}! </h1>
        <a href="/logout">Logout</a>
        <a href="/jobs/new">New Job!</a>
    <p>Everyone's jobs:</p>
    <fieldset>
        <table>
        <thead>
            <tr>
                <td>Job</td>
                <td>Location</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            {%for job in jobs%}
            <tr>
                <td>{{job.title}}</td>
                <td>{{job.location}}</td>
                <td><a href="/jobs/{{job.id}}">View</a>|<a href="/jobs/edit/{{job.id}}">Edit</a>|<a href="/jobs/remove/{{job.id}}">Remove</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </fieldset>
    <p style="color: blueviolet;">{{ user.first_name }}'s jobs</p>
    <fieldset>
    <table>
        <thead>
            <tr>
                <td>Job</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            {%for job in user_jobs%}
            <tr>
                <td>{{job.id}}</td>
                <td>{{job.title}}</td>
                <td><a href="/jobs/{{job.id}}">View</a>|<a href="/jobs/edit/{{job.id}}">Edit</a>|<a href="/jobs/remove/{{job.id}}">Remove</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </fieldset>
  </body>
</html>
