<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello {{ user.first_name }}! These are the job details!</h1>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
    <p>{{job.title}}</p>
    <hr>
    <fieldset>
    <div>
        <p>{{job.description}}</p>
        <p>Location: {{job.location}}</p>
        <p>Posted by: {{job.first_name}}</p>
        <p>Posted on: {{job.created_at}}</p>
    </div>
</fieldset>
    <a href="/dashboard">Add to my jobs</a>
</body>
</html>